body {
    font-family: 'Montserrat', sans-serif;

    background-color: #F5F7FA;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


.main_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "avatar main"
                        "sidebar main";
    gap: 0;
    align-items: stretch;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main_wrapper li {
    background-color: inherit;
}

/* main-section start */
.main_content {
    grid-area: main;
    padding: 100px 90px;
}

.main_section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin: 0 0 10px 0;
}

/*about me section*/
.about_me {
    margin-bottom: 40px;
}
.about_me_profession {
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color:#000
}
.about_me_name {
    margin: 0 0 25px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color:#000
}
.about_me_description {
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    max-width: 400px;
}

/* my projects section */
.my_projects {
    margin: 0 0 50px 0;
}
.my_projects_list {
    padding: 0 0 0 20px;
}
.my_projects_item {
    color: #000;
    font-weight: bold;
}
.my_projects_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}
.my_projects_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 7px;
}
.my_projects_bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* work experience section */
.work_experience {
    margin: 0 0 45px 0;
}
.work_experience_block {
    margin: 0 0 20px 0;
}
.work_experience_block:last-child {
    margin-bottom: 0;
}
.work_experience_position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}
.work_experience_position span {
    color: #FB6D3A;
}
.work_experience_period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.work_experience_period span {
    color: #000;
    margin: 0 5px;
}
.work_experience_duties {
    padding: 0 0 0 18px;
}
.work_experience_duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education section */
.educational_institution {
    margin: 0 0 20px 0;
}
.educational_institution:last-child {
    margin-bottom: 0;
}
.educational_institution_name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}
.acquired_knowledge {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 10px 0;
}
.my_education_period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}
.my_education_period span {
    color: #000;
    margin: 0 5px;
}

/* main-section end */

/* avatar */

.avatar {
    grid-area: avatar;
    height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 40px;
    background-color: #1E2939;
}
.avatar img {
    width: 100%;
}

/* sidebar-section start */
.sidebar {
    grid-area: sidebar;
    background-color: #1E2939;
}
.sidebar li {
    background-color: inherit;
}


.sidebar_info {
    padding: 50px 40px;
}

/* contacts */
.contacts_section_type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}
.contacts_section_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}
.contacts_section_link_tel {
    text-decoration: none;
}

/*tech skills*/
.tech_skills_list {
    padding: 0 0 0 18px;
}
.tech_skills_item {
    color: #FB6D3A;
}
.tech_skills_item_text {
    color: #fff;
}

.contacts_section,
.tech_skills_sections {
    margin-bottom: 50px;
}

.sidebar_section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}

/*soft skills*/
.soft_skills_list {
    padding: 0 0 0 15px;
}
.soft_skills_item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}
.soft_skills_item_text {
    color: #fff;
}

/* sidebar-section end */

@media screen and (max-width: 1200px) {
    .main_content {
        grid-area: main;
        padding: 80px 70px;
    }
}

@media screen and (max-width: 991px) {
    .main_wrapper {
        margin: 40px 0;
    }
    .main_content {
        grid-area: main;
        padding: 50px 40px;
    }
    .sidebar_info {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .main_wrapper {
        margin: 30px 0;
    }
    .main_content {
        grid-area: main;
        padding: 30px 20px;
    }
    .sidebar_info {
        padding: 20px 10px;
    }
    .avatar {
        padding-top: 20px;
    }
}
@media screen and (max-width: 575px) {
    .main_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "avatar"
                            "main"
                            "sidebar";
        margin: 20px 0;
        box-shadow: none;
    }
    .avatar {
        padding: 0;
        background-color: inherit;
    }
    .sidebar_info {
        padding: 20px 20px;
    }
    .about_me_name {
        margin: 0 0 5px 0;
        font-size: 30px;
        line-height:40px;
    }
    .about_me {
        margin-bottom: 30px;
    }
    .about_me_description {
        
        margin: 0 0 20px 0;
        line-height: 24px;
    }
    .my_projects {
        margin: 0 0 30px 0;
    }
    .work_experience {
        margin: 0 0 30px 0;
    }
}
